.menu_mobile {
  @apply flex justify-between container mt-4 md:hidden px-1.5 relative;
}

.menu_mobile__nav {
  @apply mt-16;
}

.menu_mobile__links {
  @apply flex flex-col gap-4;
}

.b_a {
  position: absolute;
  right: 0;
  width: 55px;
  height: 6px;
  background-color: #ee4143;
  transition: all 0.25s;
  content: '';
}

.menu_collapsed {
  position: fixed;
  top: 16px;
  right: 10px;
  z-index: 1;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.25s;

  ul {
    position: fixed;
    left: -9000px;
    transition: all 0s;
  }
}

.bar {
  @extend .b_a;

  position: fixed;
  top: 34px;
  right: 12px;

  &::before {
    @extend .b_a;

    top: -10px;
  }

  &::after {
    @extend .b_a;

    top: 10px;
  }
}

.b_a_expanded {
  top: -0;
  transition: all 0.25s;
}

.menu_expanded {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(0 0 0 / 85%);

  ul {
    position: relative;
    left: 0;
    z-index: 2;
    transition: all 0s;
  }

  a {
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    transition: all 0.15s;
  }

  .bar {
    background-color: transparent;
    transition: all 0.25s;

    &::before {
      @extend .b_a_expanded;

      transform: rotate(45deg);
    }

    &::after {
      @extend .b_a_expanded;

      transform: rotate(-45deg);
    }
  }
}
