@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --sb-track-color: #d9d9d9;
  --sb-thumb-color: #f00;
  --sb-size: 6px;
  --text-shadow: 5px 3px 10.2px #0000004f;

  margin: 0;
  padding: 0;
  -webkit-appearance: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    background-clip: padding-box;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-navigation-sides-offset: -20px;

  @media screen and (width >= 1440px) {
    --swiper-navigation-sides-offset: -60px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ee4143;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}
