.team_preview {
  background-image: url('team-background.png');

  @apply bg-cover bg-no-repeat;

  &__inner {
    @apply pt-[61px] pb-[42px] px-[14px] flex flex-col gap-[23px] md:flex-row md:pt-[63px]
    md:pb-[71px] md:gap-0 xl:container xl:justify-start xl:pr-[170px];
  }

  &__left {
    @apply flex flex-col items-center gap-[12px] md:items-start md:w-[40%] md:gap-[23px] xl:gap-[21px];
  }

  &__title {
    @apply text-[32px] leading-[41px] font-medium uppercase text-center text-primary-500 flex-row
    md:text-start lg:text-[32px] xl:text-[44px] xl:leading-[56px];

    text-shadow: var(--text-shadow);
  }

  &__subtitle {
    @apply text-[18px] leading-[23px] font-normal text-center text-dark-500 md:text-start
    md:mr-[48px] xl:text-[29px] xl:leading-[44px] xl:font-medium xl:mr-0;
  }

  &__image_wrapper {
    @apply px-[14px];
  }

  &__image {
    @apply w-full h-auto rounded-[6px];
  }
}
