.colleagues_overview {
  @apply flex flex-col gap-[17px] 2xl:pr-16;

  &__point {
    @apply text-[22px] leading-[34px] font-medium text-center md:text-start md:text-[29px]
    md:leading-[44px];
  }

  &__title {
    @apply text-[32px] leading-[41px] font-medium text-center text-primary-500 uppercase
    md:text-start xl:text-[53px] xl:leading-[68px];

    text-shadow: var(--text-shadow);
  }

  &__text {
    @apply text-[16px] leading-[21px] font-normal text-center flex flex-col gap-[17px]
    md:text-start;
  }
}
