.select_wrapper {
  @apply relative;

  &::before {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    content: url('./arr.svg');
  }
}

.select {
  @apply bg-white border border-gray-300 text-dark-500 text-[16px] rounded-lg cursor-pointer focus:ring-primary-500 focus:border-primary-500 block w-full py-[21px] pl-[15px];

  option {
    @apply disabled:text-dark-300;
  }
}
