.describe_button {
  @apply bg-primary-500 text-white rounded-[13px] overflow-hidden transition-all grid items-center cursor-pointer;

  grid-gap: 0 9px;
  grid-template-rows: auto 0fr;
  grid-template-columns: auto 1fr;
  padding: 9px 17px 8px 11px;
  box-shadow: 0 4px 17.8px 0 #00000040;
}

.describe_button___active {
  @apply bg-[#E1E1E1] text-[#35393A] z-10;

  grid-template-rows: auto 1fr;
}

.show_more {
  @apply opacity-100;
}

.show_more___active {
  @apply opacity-0;
}

.show_less {
  @apply opacity-0;
}

.show_less___active {
  @apply opacity-100;
}

.describe_button__title {
  @apply text-base;
}

.describe_button__previous {
  @apply text-base flex gap-[7px] font-medium items-center justify-center;
}

.describe_button__show_more_button {
  @apply text-base font-medium  relative h-[37px] w-[37px];
}

.describe_button__image {
  @apply w-[37px] h-[37px] transition-opacity absolute top-0 left-0;
}

.describe_button__description {
  @apply opacity-0 transition-opacity min-h-0 flex flex-col max-w-[132px];
}

.describe_button__link {
  @apply text-primary-500 flex items-center justify-start gap-[6px] mt-2;
}

.describe_button__link___decoration {
  @apply relative;

  &::before {
    content: '';

    @apply absolute bg-primary-500 block left-0 bottom-0 w-full h-[2px];
  }
}

.describe_button__description___active {
  @apply opacity-100 mb-[32px];
}
