.main_intro {
  background-image: url('./top-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  @apply mt-[46px] pb-[275px];
}

.logo {
  @apply mx-auto translate-x-2;
}

.title {
  @apply text-center text-[32px] text-primary-500;

  text-shadow: 5px 3px 10px rgb(0 0 0 / 31%);
}

.in_title {
  @apply whitespace-nowrap;
}

.subtitle {
  @apply text-center text-[29px] font-normal mx-[10px] mt-[12px];
}

.description {
  @apply text-center text-[18px] mx-[10px] mt-[12px] text-[#35393A];
}

.button {
  @apply mx-auto block mt-[20px];
}

.interactive {
  @apply mt-[63px] flex justify-center items-center flex-col relative;
}

.greeting_text {
  position: absolute;
  bottom: 94px;
  left: 81px;
  transform: skew(335deg, 9deg);

  @apply text-white text-base;
}

.image_wrapper {
  @apply relative max-w-[456px] w-[375px] h-[276px] mx-auto scale-[.7] shrink-0;
}
