.technology_step {
  @apply border border-primary-500 rounded-[10px] px-[24px] py-[51px] flex flex-col gap-[37px]
  md:justify-between lg:px-[44px];

  &__info {
    @apply flex flex-col gap-[25px];
  }

  &__info:last-child {
    @apply lg:gap-[17px];
  }

  &__sequence {
    @apply flex items-center;
  }

  &__sequence_num {
    @apply w-[68px] h-[68px] flex justify-center items-center rounded-full bg-primary-500 text-white
    text-[40px] leading-[52px] font-medium;
  }

  &__sequence_title {
    @apply text-[26px] leading-[34px] font-medium uppercase text-start text-primary-500 pl-[20px];
  }

  &__text {
    @apply text-[16px] leading-[21px] font-normal text-start;
  }

  &__video_wrapper {
    @apply overflow-hidden;
  }

  &__video {
    @apply rounded-[10px];
  }

  &__image_description_wrapper {
    @apply grid grid-cols-2 gap-[10px] lg:mt-[26px];
  }

  &__image_description {
    @apply flex flex-col gap-[4px];
  }

  &__image_description_text {
    @apply text-[16px] leading-[21px] font-normal text-start break-words;
  }

  &__form_outer_container {
    @apply w-full md:flex md:items-center lg:items-end xl:items-center;
  }

  &__form_container {
    @apply flex flex-col gap-[10px] justify-end md:w-full lg:flex-row lg:gap-[35px];
  }

  &__form_brace_wrapper {
    @apply md:hidden lg:relative lg:grow-0 lg:flex lg:justify-center lg:items-center;
  }

  &__form_brace {
    @apply w-full lg:h-full;
  }

  &__form_brace_sm {
    @apply lg:hidden;
  }

  &__form_brace_xl {
    @apply hidden lg:block;
  }

  &__form_wrapper {
    @apply flex flex-col lg:grow;
  }

  &__form_inputs {
    @apply flex flex-col gap-[10px];
  }

  &__input::placeholder {
    @apply text-[14px] xl:text-[16px];
  }

  &__select {
    @apply text-[14px] xl:text-[16px];
  }

  &__select_option_hidden {
    @apply hidden;
  }

  &__form_button {
    @apply uppercase text-[16px] leading-[21px] font-medium mt-[10px] w-full;

    box-shadow: 0 7px 14.2px 0 #0006;
  }
}

.technology_step:last-child {
  @apply md:grid md:grid-cols-40_58 lg:gap-[49px];

  grid-column: span 2;
}
